@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap");

:root {
    --sidebar-lg: 190px;
    --topbar-height: 71px;
    --logout-btn-height: 110px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
a {
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
}

/*font-face*/
@font-face {
    font-family: "ToyorAljanah";
    src: url("../fonts/ToyorAljanah.eot");
    src: local("☺"), url("../fonts/ToyorAljanah.woff") format("woff"),
        url("../fonts/ToyorAljanah.ttf") format("truetype"),
        url("../fonts/ToyorAljanah.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*font-face*/
a {
    color: #1e1959;
}
.bg-blue {
    background: #1e1959;
}
.bg-blue:after {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 500px;
    background: url(../images/bg-blue.png) #1e1959 no-repeat;
    z-index: -111;
    background-size: 100%;
}
.bg-cus-white {
    background: #f8f8fc;
}
.bg-cus-white:after {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 500px;
    background: url(../images/bg-blue.png) #f8f8fc no-repeat;
    z-index: -111;
    background-size: 100%;
}
.bg-white-light {
    background: #f8f9fc;
}
.brand-center {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-brand {
    pointer-events: initial;
    font-size: 30px;
}
.form-container h4 {
    color: #fff;
    text-align: center;
    font-size: 28px;
}
.form-container {
    max-width: 600px;
    margin: 0px auto;
}
.form-box {
    padding: 30px 0px;
    background: #fff;
    box-shadow: 0px 0px 54.15px 2.85px rgba(0, 0, 0, 0.34);
    border-radius: 25px;
    border: 1px solid rgb(141, 135, 211);
}
.form-box h4 {
    color: #1e1959;
    font-family: "ToyorAljanah";
    font-size: 35px;
}
.input-box-ui {
    background: #f8f9fc;
    padding: 10px 0px;
}
.input-box-ui .form-group:last-child {
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 10px;
}
.input-full {
    border: none;
    border-radius: 0;
    height: 50px;
    font-family: "Roboto Slab", serif;
    color: #000;
    padding: 0px 40px;
    font-weight: 300;
}
.form-box-content {
    padding: 0px 40px;
}
.font-rs {
    font-family: "Roboto Slab", serif;
}
.btn {
    height: 45px;
    border-radius: 50px;
    padding: 0px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
}
.btn-blue {
    background: #1e1959;
    color: #fff;
}
.sigup-text {
    color: #1e1959;
}
.sub-text {
    color: #1e1959;
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    text-align: center;
}
.sub-text-white {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
textarea.form-control {
    min-height: 120px;
    padding-top: 10px;
}
.contact-info-box {
    margin: 30px 0 0;
    justify-content: space-between;
}
.contact-info-box a {
    color: #1e1959;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    text-decoration: none;
}
.contact-info-box a:hover {
    color: #514ba2;
}
.upload-document-box {
    max-width: calc(100% - 80px);
    margin: auto;
    padding: 0;
    border: 1px solid #afafaf42;
    border-radius: 10px;
}
.file-upload-form {
    position: relative;
    height: 300px;
    overflow: hidden;
}
.file-upload-form input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.file-upload-form::before {
    content: "+";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f1959;
    z-index: 1;
    pointer-events: none;
}
.btn-white {
    background: #fff;
}
.index-text {
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
.index-text h1 {
    font-size: 36px;
}
.index-text p {
    margin: 25px 0px;
}
.index-text .btn {
    min-width: 150px;
    margin: 0px 10px;
}
.home-img {
    position: absolute;
    bottom: 0;
    width: 35%;
    left: 30px;
    bottom: 30px;
    z-index: -1;
}
.home-plans {
    text-align: center;
    margin-top: 50px;
    color: #1e1959;
}
.home-plans article {
    padding: 40px;
    background: #fff;
    border-color: rgb(141, 135, 211);
    box-shadow: 0px 0px 54.15px 2.85px rgba(0, 0, 0, 0.34);
    border-radius: 25px;
    width: 100%;
}
.plan-info h2 {
    font-size: 28px;
    margin: 0;
    word-break: break-all;
}
.plan-info .plan-value h4 {
    font-size: 35px;
    margin: 5px 0px;
}
.plan-info .plan-value p {
    margin: 0;
    font-size: 18px;
}
.plan-info .plan-value {
    margin: 15px 0px;
}
.plan-spat {
    font-family: "ToyorAljanah";
    font-size: 40px;
    margin-bottom: 15px;
}
.plan-info h6 {
    font-size: 18px;
    margin-bottom: 15px;
}
.plan-info h6 font {
    font-size: 35px;
}
.home-plans article .btn {
    min-width: 150px;
}
/* Filter Section Starts */

.other-form-control {
    padding: 5px 0;
    border: 0;
    font-size: 13px;
    font-weight: 400;
    border-radius: 3px;
}
.filter-shell {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    margin: 15px 0;
}
.filter-option.half-flex {
    flex: 0 0 170px;
    max-width: 170px;
}
.filter-option.half-more-flex {
    flex: 0 0 150px;
    max-width: 150px;
}
.filter-option .input-group-prepend,
.filter-option .input-group-append {
    flex: 1;
}
.filter-option {
    padding: 15px;
    border-right: 2px solid #f8f8fc;
    flex: 1;
}
.filter-option .form-group {
    margin-bottom: 0;
}
.form-label {
    font-size: 15px;
    text-transform: capitalize;
    color: #595958;
    margin-bottom: 0;
}
.filter-option .form-control:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
.input-group .dateerror.error{margin-bottom: 0px;}
.filter-option .form-control {
    padding: 5px 0;
    border: 0;
    font-size: 13px;
    font-weight: 400;
    border-radius: 3px;
}
.filter-option .input-group .mx-3{margin: 0px 5px !important;
max-width: 10px;}
.filter-option .form-control::placeholder {
    font-size: 13px;
    font-weight: 400;
}
.filter-option .btn {
    border-radius: 6px;
    text-transform: capitalize;
    line-height: 42px;
    width: 100%;
    font-size: 15px;
}
.filter-option .form-check-input {
    height: 15px;
    width: 15px;
}
.filter-option .form-check-label {
   font-size: 13px;
color: #595958;
font-weight: 400;
}
.btn-shell {
    text-align: center;
}
/* Filter Section Ends */

/* Public Link Section Starts */

.form-outer-title {
    font-weight: 500;
    text-transform: capitalize;
    color: #595958;
    margin-bottom: 0;
    font-size: 16px;
    padding: 15px;
}
.property-lists {
    padding: 15px 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    display: flex;
}
.prop-listing-spacing {
    margin-left: 75px;
}
.property-selection {
    position: absolute;
    left: -65px;
    top: 30px;
    z-index: 1;
}
.prop-img {
    flex: 0 0 130px;
    max-width: 130px;
    height: 100px;
    margin: 0 20px 0 0;
    border-radius: 10px;
    overflow: hidden;
}
.prop-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.prop-details {
    flex: 1;
    position: relative;
}
.prop-inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.prop-name {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
}
.prop-status {
    color: #fff;
    min-width: 120px;
    text-align: center;
    border-radius: 6px;
    background-color: #ccc;
    padding: 5px 15px;
    text-transform: capitalize;
}
.prop-unavail {
    background-color: #ff3a72;
}
.prop-avail {
    background-color: #4bad5f;
}
.prop-location {
    font-size: 15px;
    color: #c5c5c5;
}
.prop-amenities-box .prop-sm-icon {
    height: 24px;
    width: 24px;
}
.prop-sm-icon {
    display: inline-block;
    height: 22px;
    width: 20px;
    margin-right: 5px;
    position: relative;
    top: -5px;
}
.prop-sm-icon img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}
.prop-amenities-box {
    display: flex;
    align-items: center;
}
.prop-amenities {
    margin-right: 20px;
}
.prop-amenities:last-child {
    margin-right: 0;
}
.prop-amenities span {
    text-transform: capitalize;
    color: #495057;
    font-size: 16px;
}
.prop-inner-body {
    display: flex;
}
.prop-price-box {
    margin-left: auto;
    text-align: right;
    min-width: 120px;
}
.prop-indiv-price {
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
}
.prop-pricing {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
}
.prop-pricing span {
    font-weight: 400;
    font-size: 20px;
}
.show-more-btn {
    position: absolute;
    left: 50%;
}
.show-more-btn .btn img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}
.show-more-btn .btn {
    width: 12px;
    height: 12px;
    border-radius: initial;
    padding: initial;
    line-height: initial;
    background-color: initial;
}
.property-list-shell {
    max-height: 750px;
    overflow: auto;
    padding: 15px 15px 15px 0px;
}
.book-btn {
    text-align: right;
    padding: 25px;
}
.book-btn .btn {
    border-radius: 6px;
    text-transform: capitalize;
}
.label--checkbox {
    position: relative;
    cursor: pointer;
    margin: 0;
}
.checkbox {
    position: relative;
    appearance: none;
    cursor: pointer;
    outline: 0px;
    -webkit-appearance: none;
    appearance: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.checkbox:before {
    -webkit-transition: -webkit-transform 0.4s
        cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    -moz-transform: rotate(-45deg) scale(0, 0);
    -ms-transform: rotate(-45deg) scale(0, 0);
    -o-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: 6px;
    top: 10px;
    z-index: 1;
    width: 22px;
    height: 10px;
    border: 2px solid #1f1959;
    border-top-style: none;
    border-right-style: none;
}
.checkbox:checked:before {
    -webkit-transform: rotate(-45deg) scale(1, 1);
    -moz-transform: rotate(-45deg) scale(1, 1);
    -ms-transform: rotate(-45deg) scale(1, 1);
    -o-transform: rotate(-45deg) scale(1, 1);
    transform: rotate(-45deg) scale(1, 1);
}
.checkbox:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 1px solid #d6d6d6;
    cursor: pointer;
    border-radius: 50%;
    background: #f8f9fc;
}

/* Public Link Section Ends */

/* Sent Link Section Starts */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.slider-controls {
    opacity: 1;
}
.slider-controls img {
    height: 18px;
    width: 18px;
    object-fit: scale-down;
}
.propslider .carousel-inner {
    border-radius: 40px;
    overflow: hidden;
}
.propslider .slide-img {
    height: 300px;
    border-radius: 40px;
}
.property-descp-shell {
    padding: 20px 30px;
    max-width: 600px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0px 0px 54.15px 2.85px rgba(0, 0, 0, 0.34);
    border-radius: 25px;
    border: 1px solid rgb(141, 135, 211);
}
.agency-name-text {
    font-size: 24px;
    padding: 0 0 10px;
    color: #1e1959;
}
.prop-big-details {
    margin: 15px 0;
}
.prop-big-details .prop-amenities .prop-sm-icon {
    top: 0;
    margin-right: 0;
    height: 34px;
    width: 34px;
}
.prop-big-details .prop-amenities {
    margin-right: 10px;
}
.property-description h3 {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
}
.property-description p {
    color: #838484;
}
.prop-pay-btn {
    margin-top: 40px;
}
.prop-pay-btn .btn {
    font-size: 20px;
    text-transform: capitalize;
    padding: 0px 70px;
}

/* Sent Link Section Ends */

/* Payment Section Starts */

.payment-form {
    padding: 30px;
}
.payment-form h4 {
    font-size: 30px;
}
.payment-pricing {
    text-transform: uppercase;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    color: #1e1959;
}
.payment-pricing span {
    font-weight: 400;
    font-size: 20px;
}
.payment-icons {
    display: block;
    text-align: center;
    height: 50px;
    width: 60px;
    margin: 10px auto;
}
.payment-title {
    text-transform: capitalize;
    font-size: 24px;
    color: #1e1959;
    font-weight: 500;
}
.payment-shell {
    padding: 0 20px;
}
.payment-shell .form-group {
    margin-bottom: 1.5rem;
}
.payment-shell .form-control {
    border: 1px solid #a5a5a593;
    border-radius: 8px;
    height: 45px;
    font-size: 14px;
}
.payment-shell .btn-shell .btn {
    padding: 0 50px;
}

/* Payment Section Ends */

/* Inner Header Section Starts */

.inner-header .brand-left {
    height: 100%;
    display: flex;
    align-items: center;
    width: var(--sidebar-lg);
    max-width: 204px;
    min-width: 204px;
}
.inner-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.inner-header .navbar {
    padding: 0;
}
.inner-header .navbar-brand {
    margin-right: 0;
    text-align: center;
    width: 100%;
}
.inner-header .navbar-nav {
    width: 100%;
}
.inner-header .nav-link.btn {
    font-size: 16px;
    text-transform: capitalize;
    background-color: #1f1959;
    color: #fff;
    margin: 0 10px;
    padding: 0px 25px;
    line-height: 45px;
    min-width: 190px;
}
.inner-header .nav-link.btn:hover {
    background-color: #343164;
    color: #fff;
}

/* Inner Header Section Ends */

/* Inner Sidebar Section Starts */

.sidebar-bg {
    background-color: #353164;
}
.navbar {
    height: var(--topbar-height);
}
.sidebar-shell {
    position: fixed;
    left: 0;
    top: var(--topbar-height);
    /* width: 204px; */
    width: var(--sidebar-lg);
    padding-top: 20px;
    height: 100%;
    max-width: 204px;
    min-width: 204px;
}
.navigation-list {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: calc(100% - var(--topbar-height) - var(--logout-btn-height));
}
.navigation-list::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.navigation-list li {
    margin-bottom: 10px;
}
.logout-btn {
    height: var(--logout-btn-height);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-btn .btn {
    background-color: transparent;
    padding: 0;
}
.logout-btn .btn img {
    max-width: 30px;
}
.sidebar-accordion .card-body {
    padding: 0;
}
.sidebar-accordion .card {
    background-color: transparent;
    border: 0;
}
.sidebar-accordion .card-header {
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    border: 0;
}
.navigation-list .nav-text {
    display: flex;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 18px;
    padding: 20px 20px;
    align-items: center;
    text-decoration: none;
}
.navigation-list .nav-text:focus {
    outline: none;
}
.navigation-list .nav-text:hover {
    background-color: #4e498a;
}
.navigation-list .nav-items.active .nav-text {
    background-color: #4e498a;
}
.navigation-list .nav-icons {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}
.navigation-list .nav-icons img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: scale-down;
}
.navigation-list .nav-text .text {
}
.accord-white-down-arrow::after {
    content: "";
    background-image: url("../images/arrow-white.png");
    display: inline-block;
    height: 10px;
    width: 14px;
    background-repeat: no-repeat;
    margin-left: auto;
    background-size: contain;
    transform: rotate(180deg);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.sidebar-accordion .nav-text.collapsed.accord-white-down-arrow::after {
    transform: rotate(0);
}
/* Inner Sidebar Section Ends */

/* Dashboard Content Section Starts */
.navbar-nav .btn-blue {
    color: #fff !important;
}
.dashboard-content {
    margin-left: var(--sidebar-lg);
    padding: 30px;
    padding-top: calc(var(--topbar-height) + 40px);
    padding-left: 45px;
}
.flex-box {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.flex-filter-300 {
    flex: 0 0 280px;
    max-width: 280px;
    margin-right: 0 !important;
    margin: 15px;
}
.no-notes-text {
    font-size: 26px;
    color: #858484;
    text-align: center;
    text-transform: capitalize;
}
.customer-form-shell {
    display: flex;
    align-items: center;
}
.customer-form-shell .form-group {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    margin: 0 0 0 10px;
    background-color: #fff;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.1);
}
.add-cust-btn {
    text-align: right;
}
.add-cust-btn .btn {
    text-transform: capitalize;
    font-size: 14px;
    margin: 15px 0;
    border-radius: 5px;
    width: calc(100% - 38px);
}
.space-bk-btn .btn-blue {
    margin-left: 15px;
}

.btn-search {
    padding: 0px;
    color: #b0b7bf;
    height: auto;
    background: transparent;
    font-size: 15px;
    position: absolute;
    right: 0px;
    background: #1e1959;
    border-radius: 0px;
    padding: 0px 13px;
    color: #fff;
}
.search-here th {
    padding: 10px 15px;
}
.search-here .form-inline {
    position: relative;
}
.search-here .form-inline .form-control {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #b0b7bf;
    padding-left: 45px;
    border: 1px solid #cccccc36;
    min-width: 350px;
}
.search-here .form-inline .form-control:focus {
    box-shadow: none;
}
.manage-bk-text th {
    color: #6b6a6f;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px;
}
.head-booking th {
    font-size: 14px;
    font-weight: 500;
    color: #b0b7bf;
    padding: 15px 20px;
}
.books-details td {
    font-size: 14px;
    font-weight: 400;
    color: #6b6a6f;
}
.books-details td a {
    color: #67b5f9;
    text-decoration: none;
}

.table thead th {
    border-bottom: 5px solid #f8f9fc;
}
.books-details td p {
    margin-bottom: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 120px;
}
.tb-bg {
    background: #fff;
    border-radius: 20px 20px 0px 0px;
}
.table .books-details td {
    padding: 15px 20px;
    vertical-align: top;
    border-bottom: 1px dashed #c4c3c5;
    font-weight: 500;
}
.emp_loye_wd .table thead th {
    min-width: 100%;
}
.search-here .btn-blue {
    margin-left: 30px;
}

.table td,
.manage-bk-text th {
    padding: 15px 20px;
    border-top: 0px;
}
.tb-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
}
.tb-pagination .pagination {
    align-items: center;
}
.list-no {
    font-size: 14px;
    font-weight: 500;
    color: #6b6a6f;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.tb-pagination .page-link {
    padding: 0px;
    margin-left: 10px;
    color: #6b6a6f;
    background-color: #fff;
    border: 1px solid #dee2e6;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.tb-pagination .page-link:hover {
    background-color: #6760b3;
    color: #fff;
    border: 1px solid #6760b3;
}
.page-item:first-child .page-link {
    border-radius: 50%;
    font-size: 24px;
    font-weight: 500;
}
.page-item:last-child .page-link {
    border-radius: 50%;
    font-size: 24px;
    font-weight: 500;
}
.dash-table-cover {
    background: #fff;
    border-radius: 20px;
    min-height: calc(100vh - 115px);
}
.go-bk a {
    color: #67b5f9;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

.report-bx {
    display: flex;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.13);
    border: 1px solid #e3e3e3;
}
.report-bx li {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 30px;
    text-align: center;
    border-right: 1px solid #e3e3e3;
}
.report-bx li:last-child {
    border-right: 0px;
}
.report-bx li h6 {
    color: #b5bcc3;
    font-size: 14px;
    font-weight: 500;
    min-height: 75px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.report-bx li .prop-pricing {
    font-size: 20px;
    color: #6b6a6f;
}
.report-bx li .prop-pricing span {
    font-size: 15px;
    color: #b5bcc3;
    font-weight: 500;
}
.report-bx.w-50 {
    width: 100% !important;
}
.report-bx.w-50 li {
    flex: 0 0 25%;
    max-width: 25%;
}

.jqx-layout-group-auto-hide-content-vertical {
    width: auto !important;
    height: auto !important;
}
.calender-sec #calendar {
    height: auto !important;
    border-radius: 20px;
    margin: auto;
    padding: 30px; 
    width: auto !important;
}
.re-box-in {
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.13);
    border: 1px solid #e5e5e5;
}
.re-box-in .table thead th {
    border-bottom: 1px solid #e5e5e5;
}
.re-box-in .table td,
.table th {
    border-top: 0px;
}
.calender-sec ul {
    padding-top: 20px;
    padding-left: 24px;
    margin: auto;
}
.calender-sec ul li {
    font-size: 14px;
    font-weight: 500;
    color: #6b6a6f;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.calender-sec ul li span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    margin-right: 10px;
}
.point-red {
    background: #e84261;
    border: 1px solid #e84261 !important;
}
.point-green {
    background: #09cb70;
    border: 1px solid #09cb70 !important;
}
.calender-sec .book-btn {
    padding: 0px;
    justify-content: center;
    display: flex;
}
#calendar tbody td {
    padding: 4px !important;
}
.calender-sec #cellTableViewcalendar td,
th {
    vertical-align: inherit;
    border-top: none !important;
}
#cellsTableViewcalendar {
    height: auto !important;
}
#cellsTableViewcalendar {
    height: auto;
    padding: 0px;
}
.jqx-calendar {
    border: 1px solid #e5e5e5;
}
.calender-sec .space-bk-btn .btn-blue:first-child {
    margin-left: 0px;
}

.list-st-property {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.list-st-property li {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 20px;
}
.list-st-property li .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.list-st-property li .form-group .form-control {
    border-radius: 15px;
    height: 46px;
}
.list-st-property li .form-group label {
    width: 150px;
    min-width: 150px;
    color: #6b6a6f;
    margin-bottom: 0px;
    word-break: break-all;
    padding-right: 10px;
}
.go-bk .d-flex {
    margin-left: auto;
    max-width: 200px;
    padding-right: 20px;
}
.property-opt td {
    padding: 30px 20px;
}
.tb-upload .form-box {
    box-shadow: none;
    border-radius: 25px;
    border: 1px solid #cecece;
    width: 100%;
    padding: 20px 0px;
    background: #f8f9fc;
}
.land-lord li {
    padding-bottom: 20px;
}
.land-lord li .form-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.land-lord li .form-group .form-control {
    border-radius: 15px;
    height: 46px;
}
.land-lord li .form-group label {
    width: 150px;
    min-width: 150px;
    color: #6b6a6f;
    margin-bottom: 0px;
    word-break: break-all;
    padding-right: 10px;
    font-size: 15px;
}
.tb-upload h4 {
    width: 150px;
    min-width: 150px;
    color: #6b6a6f;
    margin-bottom: 0px;
    word-break: break-all;
    padding-right: 10px;
    font-size: 15px;
    padding-top: 15px;
}
.tb-upload .form-container {
    max-width: 100%;
    margin: 0px auto;
    display: flex;
}
.tb-upload .upload-document-box {
    border: none;
}
.tb-upload .file-upload-form {
    height: 260px;
}
.tb-upload .btn {
    height: 36px;
    border-radius: 50px;
    padding: 0px 35px;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
}
.pdf-bttn .btn {
    padding: 0px;
    height: auto;
    background: transparent;
    line-height: normal;
}
.pdf-bttn .btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.pdf-bttn .btn img {
    max-width: 20px;
}
.land-border .head-booking th {
    border-top: 5px solid #f8f9fc !important;
    border-bottom: 5px solid #f8f9fc;
}
.land-border .books-details td {
    border-bottom: 0px;
}
.land-border .property-opt td {
    border-bottom: 5px solid #f8f9fc;
}
.card-bx-bank {
    margin-top: 30px;
}
.card-bx-bank a {
    border: 6px solid #f8f9fc;
    border-radius: 20px;
    padding: 40px 30px;
    display: block;
    max-width: 345px;
    margin: auto;
    text-align: center;
    text-decoration: none;
}
.card-bx-bank h6 {
    font-size: 18px;
    font-weight: 500;
    color: #1e1959;
    margin-bottom: 20px;
    text-align: center;
}
.card-bx-bank figure {
    margin-bottom: 0px;
    margin: auto;
    max-width: 120px;
}
.line-bank td {
    border-top: 0px;
    padding: 0px;
}
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
select.form-control:not([size]):not([multiple]) {
    color: #495057;
    /* font-weight: 500;
  font-size: 14px;*/
    background-image: url("../images/down-arrow.png");
    background-position: 95%;
    background-size: 12px;
    background-repeat: no-repeat;
    height: 46px;
}
/*.jqx-calendar-cell-today {
    color: #fff;
    background-color: #09cb70;
    border: 1px solid #09cb70;
}*/
/* Dashboard Content Section Ends */

.jqx-calendar-cell-restrictedDate {
background: #09cb70;
border: 1px solid #09cb70 !important;
color: #fff;
}
.jqx-calendar-cell-specialDate {
    color: #fff !important;
    background-color: #e84260;
    border: 1px solid #dc3545 !important;
    margin: 0 0 0 0;
    cursor: pointer;
    background: #e84260;
}

.manage-bk-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #f8f9fc;
    padding: 15px 20px;
}
.manage-bk-text h4 {
    color: #6b6a6f;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}
.un-btn {
    color: #67b5f9;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    background: transparent;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-Documents {
    display: flex;
}
.form-Documents h4 {
    width: 180px;
    min-width: 180px;
    color: #6b6a6f;
    margin-bottom: 0px;
    word-break: break-all;
    padding-right: 10px;
    font-size: 15px;
}

.form-Documents .form-box {
    padding: 30px;
    width: 100%;
    border: 1px solid #cecece;
    background: #f8f9fc;
    box-shadow: none;
}
.form-Documents .form-box .input-box-ui {
    background: #f8f9fc;
    border: none;
}
.form-Documents .upload-document-box {
    max-width: 100%;
}
.form-Documents .form-box .input-box-ui .form-control {
    border: 0px;
}
.pdd-opt {
    padding: 35px 45px 65px 35px;
}

.land-lord .form-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.land-lord .form-group .form-control {
    border-radius: 15px;
    height: 46px;
    width: calc(100% - 150px) !important;
}
.land-lord .form-group label {
    width: 150px;
    min-width: 150px;
    color: #6b6a6f;
    margin-bottom: 0px;
    word-break: break-all;
    padding-right: 10px;
}
.land-lord .form-group select {
    border-radius: 15px;
    height: 46px;
}
.reports-list {
    padding: 20px;
}
.reports-list .report-sec:first-child {
    margin-bottom: 15px;
}

.sub-scription-bx .index-text {
    margin-top: 0px;
    padding: 20px 0px 30px 0px;
}
.sub-scription-bx .index-text h6 {
    color: #2a2a2a;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0px;
}
.sub-scription-bx .home-plans article {
    padding: 40px;
    background: #fff;
    border-color: rgb(141, 135, 211);
    box-shadow: 0px 0px 54.15px 2.85px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    border: 1px solid #8d87d3;
}
.sub-scription-bx .home-plans {
    margin-top: 15px;
}
.btn-blue:hover {
    color: #fff;
}
.go-to-pay-bx {
    border-radius: 25px;
    background: #f8f9fc;
    padding: 20px 40px;
    max-width: 660px;
    text-align: center;
    margin: auto;
}
.go-to-pay-bx p {
    font-size: 16px;
    color: #706f74;
    margin-bottom: 20px;
    font-weight: 400;
    width: 100%;
}
.go-to-pay-bx a {
    font-size: 16px;
    color: #67b5f9;
    margin-bottom: 0px;
    font-weight: 500;
    display: block;
}
.sub-scription-bx {
    padding: 20px;
}

.add-bank-plans article {
    border-radius: 20px;
    border: 3px solid #f8f9fc;
    width: 100%;
}
.billing-info {
    display: flex;
    padding: 30px;
}
.billing-info figure {
    background: #f8f8f6;
    width: 160px;
    min-width: 160px;
    height: 120px;
    overflow: hidden;
    margin-bottom: 0px;
    padding: 20px;
    margin-right: 20px;
}
.billing-info figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.billing-info figcaption {
    width: 100%;
}
.billing-info figcaption h3 {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    color: #2a2a2a;
    margin-bottom: 15px;
}
.billing-info figcaption h6 {
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    color: #7a797e;
    margin-bottom: 25px;
}
.cart-method {
    padding: 20px 30px;
    border-top: 3px solid #f8f9fc;
    width: 100%;
}
.cart-method ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cart-method ul li {
    padding-left: 45px;
}
.cart-method ul li a {
    display: block;
    color: #67b5f9;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
}
.btn-green {
    background: #4bad5f;
    border-radius: 4px;
    padding: 10px 20px;
    height: 38px;
    line-height: 38px;
    line-height: 18px;
    font-size: 14px;
    color: #fff;
}
.billing-bx {
    padding: 20px;
}
.add-bank-plans .row .col-md-6 {
    padding: 0px 40px;
}

.add-credit .form-box {
    background: #fff;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    padding: 0px;
}
.add-credit .payment-icons {
    margin-bottom: 30px;
}
.add-credit .form-container {
    max-width: 480px;
    margin: 0px auto;
}
.report-bx.w-100.for-cl li {
    flex: 0 0 25%;
    max-width: 25%;
}
.book-text {
    text-align: center;
    padding-bottom: 40px;
}
.book-text h6 {
    font-size: 14px;
    font-weight: 500;
    color: #c4c9cf;
    margin-bottom: 20px;
}
.book-text h1 {
    font-size: 34px;
    font-weight: 600;
    color: #6b6a6f;
    margin-bottom: 0px;
}
.fixd-in {
    padding: 20px 0px;
    min-height: 500px;
}
.cust-check .custom-control-label::before {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
}
.cust-check .custom-control-label {
    cursor: pointer;
}
.cust-check
    .custom-checkbox
    .custom-control-input:checked
    ~ .custom-control-label::after {
    background-image: url("../images/check.svg");
    height: 34px;
    width: 20px;
    background-size: 100%;
    position: absolute;
    top: -9px;
    left: 4px;
}
.cust-check
    .custom-checkbox
    .custom-control-input:checked
    ~ .custom-control-label::before {
    background-color: #fff;
}
.upload-ct-box .form-Documents {
    max-width: 690px;
    margin: auto;
    padding-right: 95px;
}
.property-lists-next {
    padding: 15px 20px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

.module {
    width: 100%;
}
.module a.collapsed:after {
    content: "";
    background-image: url(../images/down-arrow.png);
    width: 12px;
    height: 10px;
    background-size: 100%;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin: auto;
    background-repeat: no-repeat;
}
.module p.collapse[aria-expanded="false"] {
    display: block;
    height: 40px !important;
    overflow: hidden;
}

.module p.collapsing[aria-expanded="false"] {
    height: 40px !important;
}

.module a.collapsed:after {
    content: "";
    background-image: url("../images/down-arrow.png");
    width: 12px;
    height: 10px;
    background-size: 100%;
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin: auto;
    background-repeat: no-repeat;
}
.module p {
    color: #838484;
    font-size: 14px;
    text-align: left;
    word-break: break-all;
    width: 100%;
}
.btn-shell h6 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #000;
    text-align: left;
    word-break: break-all;
    width: 100%;
}

.module a:not(.collapsed):after {
    content: "";
    background-image: url("../images/down-arrow.png");
    width: 12px;
    height: 10px;
    background-size: 100%;
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin: auto;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
.btn-shell .module a {
    display: block;
}
.btn-shell .module a:focus {
    outline: none;
}
.user-profile-menu .btn {
    display: flex;
    align-items: center;
    padding: 5px;
    background: transparent;
}
.user-profile-menu .btn figure {
    width: 30px;
    min-width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 0px;
    border: 1px solid #2a2a2a;
}
.user-profile-menu .btn figure img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    vertical-align: inherit;
}

.user-profile-menu .dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #1f1959;
}
.user-profile-menu .dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1f1959;
}
.user-profile-menu .dropdown-item {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}
.form-generate {
    position: relative;
}
.form-generate .btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 22px;
    font-size: 14px;
    border-radius: 0px 17px 17px 0px;
}
.form-generate .form-control {
    padding-right: 100px;
}
.search-here .form-inline {
    max-width: 350px;
}

/*nitesh last changes*/
.btn-shell .module {
    padding: 0px;
}
.btn-shell h6 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #000;
    text-align: left;
    margin-top: 10px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: -57px;
    left: 100% !important;
    margin-top: -1px;
}
.space-bk-btn .btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dropdown-menu.main-box {
    border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.13);
    border: 1px solid #0000001c;
    min-width: 180px;
    background: #fff;
    width: 100%;
    z-index: 1;
}

.sub-link {
    color: #858484;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 4px solid #f8f9fc;
    background: none;
    text-decoration: none;
    padding: 5px 20px;
    width: 100%;
    display: block;
    position: relative;
}
.sub-link::after {
    content: "";
    background-image: url("../images/down-arrow.png");
    width: 14px;
    height: 12px;
    background-size: 100%;
    position: absolute;
    bottom: 10px;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    right: 15px;
    margin: 0px;
}
.sub-link:hover {
    color: #858484;
    background: none;
    text-decoration: none;
}
.space-bk-btn .dropdown-item:focus,
.dropdown-item:hover {
    color: #858484;
    text-decoration: none;
    background-color: transparent;
}
.space-bk-btn .dropdown-submenu {
    padding: 5px 0px;
}
.none-bg-drop .form-box {
    box-shadow: none;
    padding: 0px;
    border: none;
}
.none-bg-drop {
    padding: 10px 0px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    min-width: 325px;
    border: 1px solid #0000001c;
}

.none-bg-drop .form-box h5 {
    font-size: 15px;
    color: #595958;
    margin-bottom: 10px;
    padding: 5px 20px;
}
.none-bg-drop .input-full {
    border: none;
    border-radius: 0;
    height: 40px;
    font-family: "Roboto Slab", serif;
    color: #000;
    padding: 0px 20px;
    font-weight: 300;
    font-size: 14px;
}
.none-bg-drop .form-box-content .btn {
    height: 40px;
    font-size: 14px;
}
.tp-first.show {
    margin-top: -160px;
}
.mark-banned .form-group {
    margin-left: 35px;
}
.customer-form-shell .form-group h5 {
    font-size: 16px;
    text-transform: capitalize;
    color: #595958;
    margin-bottom: 10px;
    width: 100%;
}
.customer-form-shell .form-group h5 span {
    margin-left: 35px;
    font-size: 12px;
    border-radius: 3px;
}
.customer-form-shell .form-group h6 {
    font-size: 14px;
    text-transform: capitalize;
    color: #858484;
    margin-bottom: 0;
}
.mark-banned .form-group .btn-blue {
    height: 30px;
    font-size: 12px;
    border-radius: 2px;
    line-height: 30px;
}
.flex-filter-bx {
    padding-top: 45px;
}
.flex-filter-bx li {
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.ged-cl {
    background: #b2b0e7;
}
.skb-cl {
    background: #8dabe5;
}
.slt-cl {
    background: #0bf4fa;
}
.flex-filter-bx li p {
    font-size: 14px;
    color: #000;
    margin-bottom: 0px;
    font-style: italic;
    font-weight: 300;
}

/* /////---------last-css-profile-password-----------/////// */

.profile-opt figcaption {
    text-align: center;
}
.profile-opt figcaption h5 {
    font-size: 18px;
    font-weight: 600;
    color: #1f1959;
    width: 100%;
}
.profile-opt figcaption p {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    width: 100%;
}
.password-opt .form-box {
    max-width: 600px;
    box-shadow: none;
    margin: auto;
}
.password-opt .form-box h4 {
    padding: 0px 30px;
}
.profile-dash .form-box {
    max-width: 800px;
    box-shadow: none;
    margin: auto;
}
.profile-sig figure {
    width: 110px;
    min-width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #1e1959;
}
.profile-sig figure img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.profile-sig {
    position: relative;
    max-width: 105px;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 45px;
}
.edit-btn {
    position: absolute;
    bottom: -18px;
    right: 28px;
    padding: 0px;
    background: transparent;
    border: none;
    height: auto;
    width: 44px;
    min-width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.edit-btn [type="file"] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1959;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;
}
.edit-btn label i {
    font-size: 16px;
}
.profile-dash .input-box-ui select {
    border: none;
    border-radius: 0px;
    color: #6c757d !important;
    padding: 0px 40px;
    font-weight: 400 !important;
    font-size: 16px !important;
}

.check-here {
    width: 100%;
    padding: 10px 30px;
    position: relative;
}
.check-here .form-control {
    width: 30px;
}
.check-here p {
    font-size: 15px;
    margin-bottom: 0px;
    color: #1e1959;
    position: absolute;
    top: 5px;
    left: 65px;
}
.check-here .form-control:focus {
    outline: 0;
    box-shadow: none;
}
.pb-option .land-lord .form-group p {
    margin-bottom: 0px;
}
.flex-form-group {
    display: flex;
    align-items: center;
    max-width: initial !important;
}
.flex-form-group .form-control {
    flex: 1;
    width: initial !important;
    border: 0 !important;
}
.flex-form-group .btn {
    font-size: 16px;
    color: #b0b7bf;
    text-transform: uppercase;
}
.daterangepicker .drp-buttons .btn {
    line-height: initial;
    height: initial;
    border-radius: 3px;
}
.upload-ct-box > .form-Documents {
    max-width: initial !important;
}
.land-lord .form-group .form-control {
    background-color: #f7f9fd !important;
}
.sidebar-accordion .card-body .text{font-size: 18px;}


/* custom-select */
.custom-select:focus{box-shadow: none;border-color:#ced4da;}
.custom-select { position: relative;cursor: pointer;}
.custom-select ul.list { position: absolute;top: 44px;left: 0;width: 100%;background: #f7f9fd;border: 1px solid #ced4da;border-radius: 15px;border-radius: 0px 0px 15px 15px;z-index: 9;max-height: 200px;overflow: auto;display: none ;padding: 5px 0px; }
.custom-select.open ul.list{ display: block }
.custom-select.open{border-radius: 15px 15px 0px 0px !important;}
.custom-select span.current { position: relative;top: 4px;left: 3px; }
.custom-select ul.list li {padding: 5px 15px;text-transform: capitalize;font-size: 14px;}
.custom-select ul.list li.selected  {background: #1e90ff;color: #fff;}
.custom-select ul.list li:hover{
    background: #1e90ff;
    color: #fff;
}
.nice-select.form-control.custom-select{
    background-image: url("../images/down-arrow.png");
    background-position: 95%;
    background-size: 10px;
    background-repeat: no-repeat;
    height: 42px;
}

.search-here .form-inline.flex-form-group i{position: absolute;
    left: 20px;
    top: 15px;
    font-size: 14px;
    color: #b0b6be;}
/* custom-select */


  .notes-text { width: 100%;background: none;border: none;min-height: 150px;outline: none !important; }
  textarea{scrollbar-width: none !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.textarea-box{overflow: hidden;}
.textarea-box textarea{width: 110%; padding-right: 10%;}



.flex-filter-bx.textstickynote{max-height: 470px;overflow: auto; scrollbar-width: none; -ms-overflow-style: none; scrollbar-width: none;}
.flex-filter-bx.textstickynote::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.search-contact-box { padding: 15px 10px !important; }
.search-contact-box span { display: block;font-size: 14px; }
.ui-widget.ui-widget-content { border: none; }
.ui-widget-content { color: #858484; box-shadow: 0 3px 12px rgb(0 0 0 / 0.1); }
.ui-widget-content li { border-bottom: 1px solid #ccc;     }
.ui-widget-content li:last-child { border-bottom: none; }
.ui-widget-content li .ui-state-active { background: #1e1959;color: #fff !important;border-color: #1e1959; }
.border-none-bt{border: none;}
.modal-inputs-bx .modal-content{border-radius: 10px;}

.modal-inputs-bx .modal-content .form-control {
    background-color: #f7f9fd !important;
    border: 1px solid #ced4da;
   font-size: 14px;
    height: 42px;
}
.modal-inputs-bx .modal-content .form-group label {
    color: #6b6a6f;
    padding-right: 10px;
    font-size: 14px;
}
.modal-inputs-bx .modal-content .form-group::placeholder {
font-size: 13px !important;
}

.modal-inputs-bx .modal-footer .btn{width:100%;margin:0px 5px;}
.modal-title{font-size: 15px;font-weight: 500;}

.go-bk-width .d-flex{max-width: 100%;}
.reset-sec-bttn{position: relative;}
.reset-sec-bttn .btn-reset{position: absolute;top: 0;right: 0;background: transparent;font-size: 14px;color: #b0b7bf;}
.home-plans .row .col-4{display: flex;}

/*share button style*/
.sub-link.dropdown-toggle{position: relative;}
.dropup .dropdown-toggle::after{display: none;}
.sub-link.dropdown-toggle::before{content: ''; background-image: url("../images/down-arrow.png"); width: 14px; height: 12px; background-size: 100%; position: absolute; bottom: 10px; background-repeat: no-repeat; transform: rotate(-90deg); right: 15px; margin: 0px;}
.share-btn-bg .dropdown-menu{top:auto !important; bottom: 50px;}


.jqx-calendar-cell-weekend {
    color: #f30202 !important;
    /* background: red; */
}
#rightNavigationArrowViewcalendar , #leftNavigationArrowViewcalendar , #calendarTitleHeaderViewcalendar{
    background: #fff !important;
/*    padding: 10px 0px 10px 0px !important;*/
}
.jqx-calendar-title-content{
    font-size: 16px;
}


.re-box-in tbody tr:last-child td { border-bottom: 0; }
.sidebar-accordion .card-body .nav-text { padding-left: 58px;margin-right: 10px; }

  .btnselectwidth{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border-radius: 15px;
    height: 46px;
    background-color: #f7f9fd !important;
    background-image: url(../images/down-arrow.png);
    background-position: 95%;
    background-size: 12px;
    background-repeat: no-repeat;
    height: 46px;
  }
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #1e1959;
    border-color: #1e1959;
}
.book-ing-bx {display: flex;justify-content: center;align-items: center;width: 100%;}
.book-ing-bx ul{display: flex;align-items: center;}
.inner-nav-profile .inner-nav-bg .navbar-nav .nav-item .nav-link img {max-width: 26px;}
.land-lord .form-group .btnselect {
    border-radius: 15px;
    height: 46px;
    width: calc(100% - 150px) !important;
}